* {
	padding:0;
	margin:0;
	box-sizing: border-box;
	
	font-size:22px;
}


body, #gameSurface, html, #root {
	width:100%;
	height:100%;
	overflow:hidden;
}
body {
	background-color:#1b1326;

}
#gameSurface {

	position:relative;
}


